In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("test.csv")

In [3]:
data

   tradeID active ticker  strike type  cost       date  delta   exp_date  dte
0        1      Y   AAPL     125    P  1.30   5/1/2021     50  22/1/2021   17
1        2      N   GOOG     200    P  2.30   5/1/2021     48  22/1/2021   17
2        3      Y    SPY     350    P  0.70  10/1/2021     30  22/1/2021   12
3        2      N   GOOG     200    P -0.05  21/1/2021     12  22/1/2021    1

In [38]:
data[data["active"] == "Y"]

   tradeID active ticker  strike type  cost       date  delta   exp_date  dte
0        1      Y   AAPL     125    P   1.3   5/1/2021     50  22/1/2021   17
2        3      Y    SPY     350    P   0.7  10/1/2021     30  22/1/2021   12

In [36]:
x = [{ "label" : data.ticker[i], "value" : data.tradeID[i] } for i in range(len(data))]

In [39]:
for rows in data:
    print(rows)

tradeID
active
ticker
strike
type
cost
date
delta
exp_date
dte

In [1]:
first = "Zach"

In [10]:
if (any(x.isupper() for x in first) and any(x.islower() for x in first) and (first[-1].isdigit() == True)):
    check = True
else:
    check = False

In [11]:
check

False